include ./elements.jade
const fs = require('fs')
const dataUri = require('strong-data-uri')

//- Remove <boilerplate> elements
mixin boilerplate(e)
	//- This is just here to finish the function

//- Remove link/@doi, link/@issn, link/@convertedFrom attributes
mixin link(e)
	- var x = e.attr("doi")
	if x
		- e.attr("doi").remove()
	- var x = e.attr("issn")
	if x
		- e.attr("issn").remove()
	- var x = e.attr("convertedFrom")
	if x
		- e.attr("convertedFrom").remove()
	+elem(e)

//- Remove relref/@derivedLink attribute
mixin relref(e)
	- var x = e.attr("derivedLink")
	if x
		- e.attr("derivedLink").remove()
	+elem(e)

//- Remove rfc/@prepTime, rfc/@expiresDate, rfc/@scripts attributes
mixin rfc(e)
	- var x = e.attr("prepTime")
	if x
		- e.attr("prepTime").remove()
	- var x = e.attr("expiresDate")
	if x
		- e.attr("expiresDate").remove()
	- var x = e.attr("scripts")
	if x
		- e.attr("scripts").remove()
	+elem(e)

//- Remove section/@toc (all non-valuable attributes)
mixin section(e)
	//- ###################### Logic from 5.2.7 goes here
	+elem(e)

//- Remove xref/@derivedContent attribute
mixin xref(e)
	- var x = e.attr("derivedContent")
	if x
		- e.attr("derivedContent").remove()
	+elem(e)

//- Convert <date> to <date/>
mixin date(e)
	date

//- Convert artwork/@originalSrc to src= and output a file
//-    Check for SVG, ask joe
//- Convert artwork/@src=data: to decode to a file
mixin artwork(e)
	- var originalSrc = e.attr('originalSrc')
	if originalSrc
		- var origsrcname = e.attr('src', originalSrc.value())
		- var filecontents = fs.readFileSync(origsrcname, flag="r")
		- var outfilename = origsrcname.split('/').pop()
		//- ################ Should check if the file exists before overwriting
		- fs.writeFileSync(outfilename, filecontents)
		//- ################# Check for SVG, ask joe
		- e.attr("originalSrc").remove()
		- e.attr("src", outfilename)
		+elem(e)
	- var src = e.attr('src')
	if src
		- var srcvalue = src.value()
		- var datamatch = srcvalue.match(/^data:(.)/)
		if datamatch
			- var databuffer = dataUri.decode(srcvalue);
			//- ##################### Need to make a file name
			- var outfilename = "THISISTEMPORARY" //- ####################### Hack
			- fs.writeFileSync(outfilename, databuffer)
		+elem(e)

//- Convert sourcecode/@originalSrc to src= and output a file
mixin sourcecode(e)
	- var originalSrc = e.attr('originalSrc')
	if originalSrc
		- var origsrcname = e.attr('src', originalSrc.value())
		- var filecontents = fs.readFileSync(origsrcname, flag="r")
		- var outfilename = origsrcname.split('/').pop()
		//- ################ Should check if the file exists before overwriting
		- fs.writeFileSync(outfilename, filecontents)
		//- ################# Check for SVG, ask joe
		- e.attr("originalSrc").remove()
		- e.attr("src", outfilename)
		+elem(e)

+root
